<header>
<div class="desktop-header">
    {% if page.lang == "lv" %}
    <a href="/lv/" class="home"><img src="../assets/images/Logo.png"></a>
    {% else %}
    <a href="/en/" class="home"><img src="../assets/images/Logo.png"></a>
    {% endif %}
    <nav>
        {% if page.lang == "lv" %}
            <a href="/lv/" class="btn"><span class="label-up">Sākums</span><span class="label-up">Sākums</span></a>
            <a href="/lv/products" class="btn"><span class="label-up">Produkti</span><span class="label-up">Produkti</span></a>
            <a href="/lv/aboutus" class="btn"><span class="label-up">Par Mums</span><span class="label-up">Par Mums</span></a>
            <a href="/lv/contact" class="btn"><span class="label-up">Sazinieties ar Mums</span><span class="label-up">Sazinieties ar Mums</span></a>
        {% else %}
            <a href="/en/" class="btn"><span class="label-up">Home</span><span class="label-up">Home</span></a>
            <a href="/en/products" class="btn"><span class="label-up">Products</span><span class="label-up">Products</span></a>
            <a href="/en/aboutus" class="btn"><span class="label-up">About Us</span><span class="label-up">About Us</span></a>
            <a href="/en/contact" class="btn"><span class="label-up">Contact Us</span><span class="label-up">Contact Us</span></a>
        {% endif %}
    </nav>
    <div class="right-part-header">
        <div class="languages-container">
            <div id="languages-dropdown" class="languages hidden">
                <div class="languages-button-container">
                    <a id="english" hreflang="en" class="languages-button"  href="/en{{ page.url | remove_first:'/en' | remove_first:'/lv' }}">English</a>
                </div>
                <div class="languages-button-container">
                    <a id="latvian" hreflang="lv" class="languages-button" href="/lv{{ page.url | remove_first:'/en' | remove_first:'/lv' }}" >Latviešu</a>
                </div>
            </div>
            {% if page.lang == "lv" %}
            <button id="languages-button" class="selected-language"><div class="selected-language-text-container"><span class="selected-language-text" id="selected-language-text">Latviešu</span><img id="arrow"class="arrow" src="../assets/images/Arrow_Bottom.svg"></div></button>   
            {% else %}
            <button id="languages-button" class="selected-language"><div class="selected-language-text-container"><span class="selected-language-text" id="selected-language-text">English</span><img id="arrow"class="arrow" src="../assets/images/Arrow_Bottom.svg"></div></button>   
            {% endif %}
        </div>
        {% if page.lang == "lv" %}
        <button onclick="location.href='/lv/products'" class="LearnMore">Uzzināt Vairāk</button>
        {% else %}
        <button onclick="location.href='/en/products'" class="LearnMore">Learn More</button>
        {% endif %}
    </div>
</div>
<div class="mob-header">
    <div class="mob-header-menu">
        {% if page.lang == "lv" %}
        <a href="/lv/" class="home"><img src="../assets/images/Logo.png"></a>
        {% else %}
        <a href="/en/" class="home"><img src="../assets/images/Logo.png"></a>
        {% endif %}
        <div class="header-menu">
            <button class="header-menu-button" onclick="OpenNav()">
                <img src="../assets/images/Mob_Burger.svg">
            </button>
        </div>

    </div>
    <div id="mob-nav-header-container" class="mob-header-container-hidden">
        <button class="header-close-button" onclick="OpenNav()"><img src="../assets/images/Mob_Header_Close.svg"></button>
        <nav>
            {% if page.lang == "lv" %}
                <a href="/lv/" class="btn-mob">Sākums</a>
                <a href="/lv/products" class="btn-mob">Produkti</a>
                <a href="/lv/aboutus" class="btn-mob">Par Mums</a>
                <a href="/lv/contact" class="btn-mob">Sazinieties ar Mums</a>
            {% else %}
                <a href="/en/" class="btn-mob">Home</a>
                <a href="/en/products" class="btn-mob">Products</a>
                <a href="/en/aboutus" class="btn-mob">About Us</a>
                <a href="/en/contact" class="btn-mob">Contact Us</a>
            {% endif %}
        </nav>
        <div  class="mob-languages-container">
            <div class="languages-button-container-mob">
                {% if page.lang == "lv" %}
                <a id="english" hreflang="en" class="languages-button-mob"  href="/en{{ page.url | remove_first:'/en' | remove_first:'/lv' }}">En</a>
                {% else %}
                <a id="english" hreflang="en" class="languages-button-mob languages-button-mob-selected"  href="/en{{ page.url | remove_first:'/en' | remove_first:'/lv' }}">En</a>
                {% endif %}
            </div>
            <div class="languages-button-container-mob">
                {% if page.lang == "lv" %}
                <a id="latvian" hreflang="lv" class="languages-button-mob languages-button-mob-selected" href="/lv{{ page.url | remove_first:'/en' | remove_first:'/lv' }}" >Lv</a>
                {% else %}
                <a id="latvian" hreflang="lv" class="languages-button-mob" href="/lv{{ page.url | remove_first:'/en' | remove_first:'/lv' }}" >Lv</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function OpenNav(){
        var container =  document.getElementById("mob-nav-header-container");
        if(container.classList.contains('mob-header-container-hidden'))
        {
            container.classList.replace("mob-header-container-hidden", "mob-header-container");
        }else{
            container.classList.replace("mob-header-container", "mob-header-container-hidden");
        }
    }
</script>
</header>