@media only screen and (hover: none) and (pointer: coarse), 
(max-width: 480px) {
    .main-header{

        color: #F0F0F2;
        z-index: 2;
        margin-top: 16.5vw;
        margin-left: -4%;
    }
    .overlay-box {
        position: relative; /* Allows the box to overlap on top */
        background-color: transparent;
        width: 100%;
        padding: 0;
        z-index: 2; /* Ensure the box is on top of the video */
        display: grid;
        margin-top: 11.7vw;
    }
    .overlay-box-text{
        text-align: center;
        width:91.8vw;
        margin: auto;
    }
    .overlay-button{
        border-radius: 3vw;
        border: solid;
        border-width: 0.13vw;
        border-color: #0F0F10;
        background-color: #0F0F10;
        color:#F0F0F2;
        width: 59vw;
        height: 11vw;
        display: grid;
        grid-template-columns: auto auto;
        gap: 2vw;
        padding-top: 4vw;
        align-self: end;
        line-height: 2.5vw;
        margin: auto;
        margin-top: 9vw;
    }
    .overlay-button-text{
        font-size:3vw;

    }
    .overlay-button > .angled-arrow
    {
        width: 2.5vw;
        height: 2.5vw;
    }
    .explore {
        height: 63vw;
        margin-left: -4vw;
    }
    .about-us{
        margin-top:60.8vw;
        margin-bottom: 30.4vw;
        display: flex;
    }
    .about-us-image-container > .about-us-image {
        position: absolute;
        width: 91.8vw; /* Ensure both images are the same size */
        height: 89.3vw;
    }
    .about-us-image{
        border-radius: 4vw;
        overflow: hidden;
    }
    .about-us-image > img{
        width: 91.8vw; /* Ensure both images are the same size */
        height: 89.3vw;
    }
    .about-us-text-container{
        margin-top: 89.5vw;
    }
    .about-us-image-back {
        top: 10vw;
        left: 46vw;
        z-index: 1;
    }
    .about-us-image-front {
        z-index: 2;
    }
    .link-button{
        line-height: 2vw;
        text-decoration: underline;
        text-underline-offset: 2vw; /* Adjust this value as needed */
        font-size:3vw;
    }
    .link-button-container:hover >.link-button{
        text-decoration: underline;
        text-underline-offset: 4vw; /* Adjust this value as needed */
    }
    .link-button-container:hover > .blue-arrow{
        content:url("../images/Angled_Arrow_Black.svg");
        transform: rotate(45deg);
    }
    .link-button-container{
        display: grid;
        grid-template-columns:  max-content max-content;
        gap:4vw;
        height: 1.7vw;
        margin-top: 9vw;
    }
    .blue-arrow{
        width:3vw;
        height:2.5vw;
        content:url("../images/Blue_Arrow.svg");
    }
    .about-us-text
    {
        margin-bottom: 0vw;
    }
    .solution-header{
        width: 100%;
    }
    .solutions-text-container{
        display: block;
        margin-top: 9vw;
    }
    .solutions-text{
        width: 100%;
    }
    .solutions-element{
        height: 37.6vw;
        border: 0;
        border-top: 0.13vw solid  #E1E2E5;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr; /* two equal columns */
        grid-template-rows: auto auto;  /* two rows */
        background-color: transparent;
    }
    .solutions-element-hover{
        background-color: #E1E2E5;
        border: 0;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr; /* two equal columns */
        grid-template-rows: auto auto;  /* two rows */
        width: 100%;
        height: 37.6vw;
        padding-left:4%;
        padding-right: 8%;
        margin-left: -4vw;
    }
    .solution-element-first {
        grid-column: 1; /* first column */
        grid-row: 1; /* first row */
        font-family: "Mulish", Arial, sans-serif;
        font-weight: 400;
        font-size: 3.5vw;
        color:#9B9DA0;
      }
      .solution-element-second {
        grid-column: 2; /* second column */
        grid-row: 1; /* first row */
        font-family: "Mulish", Arial, sans-serif;
        font-weight: 400;
        font-size: 3.5vw;
      }
      
      .solution-element-third {
        grid-column: 1 / 3; /* span both columns */
        grid-row: 2; /* second row */
        margin-right: 4.1vw;
        color:#9B9DA0;
      }
      .solution-element-first-hover {
        grid-column: 1; /* first column */
        grid-row: 1; /* first row */
        font-family: "Mulish", Arial, sans-serif;
        font-weight: 400;
        font-size: 3.5vw;

      }
      
      .solution-element-second-hover {
        grid-column: 2; /* second column */
        grid-row: 1; /* first row */
        font-family: "Mulish", Arial, sans-serif;
        font-weight: 400;
        font-size: 3.5vw;
      }
      
      .solution-element-third-hover {
        grid-column: 1 / 3; /* span both columns */
        grid-row: 2; /* second row */
      }

      .phases{
        margin-top: 30.4vw;
    }
    .phases-header{
        width:100%; 
    }
    .contact{
        margin-top:30.4vw;
        margin-bottom: 30.4vw;
        display: block;
    }
    .contact-header{
        margin-top:0;
        margin-bottom: 9vw;
    }
    .main-contact-us-button{
        margin-top: 9vw;
        background-color: #779FEE;
        border: solid;
        border-width: 0.13vw;
        border-color: #779FEE;
        display: grid;
        grid-template-columns: auto auto;
        gap: 2vw;
        border-radius: 3.5vw;
        height:10vw;
        padding: 8.9vw;
        padding-top: 4vw;
        padding-bottom: 0;
        line-height: 1vw;
    }
    .main-contact-us-button:hover{
        background-color: transparent;
    }
    .main-contact-us-button-text{
        font-size: 3vw;
    }
    .angled-arrow{
        width: 2.5vw;
        height: 2.5vw;
    }
    .main-contact-us-button > .angled-arrow{
        margin-top: -1vw;
    }
    .scroll-container {

        padding-top: 7.6vw;

    }
      /* Content inside the container */
  .scroll-content-box {
    gap: 3vw;
  }
  .scroll-content-element{
    width: 60.3vw;
    height:60.9vw;
    border-radius:4vw;
    padding:5vw;
}
.scroll-content-element-active{
    width: 60.3vw;
    height:60.9vw;
    border-radius: 4vw;
    padding:5vw;
}
.scroll-content-element-header-left{
    font-size:7vw;

}
.scroll-content-element-header-right{
    font-weight: 400;
    font-size:3vw;
}
.scroll-content-element-second-header{
    color: #0f0f10;;
    font-family: "Mulish", Arial, sans-serif;
    font-weight: 700;
    font-size:4.5vw;
    margin-top: 7vw;
}
.line{
    border-bottom: 0.25vw solid  #D2D4D9;
    height: 0;
    margin-top: 3.8vw;
    margin-bottom: 4vw;
}
.line-active{
    border-bottom: 0.25vw  solid #0F0F10;
}
/* Custom scrollbar track */
.custom-scroll-track {
    width: 90%; /* Adjust as needed */
    height: 5vw; /* Same as scrollbar height */
   
}
/* Custom scrollbar thumb */
.custom-scroll-thumb {
    width: 27vw; /* Set thumb size */
    height:8vw;
    margin-top: -1.5vw;
    background: url('../images/Button_SCROLL_MOB.svg') no-repeat center;
}
.custom-scroll-thumb:hover {
    width: 27vw; /* Set thumb size */
    height:8vw;
    margin-top: -1.5vw;
}
.custom-scroll-thumb:active {
    width: 27vw; /* Set thumb size */
    height:8vw;
    margin-top: -1.5vw;
}
}