.products-description-image-mob{
    display: none;
}
.products-description-image{
    display: block;
}
.products-description-content-mob
{
    display: none;
}
.products-bottom-section-container-mob{
    display: none;
}
.products-bottom-section-container{
    display: block;
}
@media only screen and (hover: none) and (pointer: coarse), 
(max-width: 480px) {
    .products-description-left-container{
    display: none;
}
.products-description{
    display: block;
}
.products-description-image-mob{
    display: block;
    width: 100vw;
}
.products-description-image{
    display: none;
}
.learn-more-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:12.9vw;
    height:12.9vw;
    margin-top: 7.6vw;
    margin-bottom: 7.6vw;
}
.learn-more-arrow-down{
    position: absolute;
    top:90%;
    left:65%;
    width:3.5vw
}
.learn-more-circle{
    position: absolute;
    top:1vw;
    left: -2vw;
    width:24.9vw;
}
.product-container {
    position: relative;
    top: 0vw;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border-top: 0.25vw solid #E1E2E5;
    height: max-content;
    width: 90%;
    display: block;
    margin-left: 2vw;
    gap: 4vw;
    padding-top: 6vw;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 8.6vw;
    z-index: 0; /* Start with all having 0 z-index */
    transition: z-index 0.3s ease-out;
    background-color: #F0F0F2;
}
.product-image-container{
    border-radius: 4vw;
    height: 70vw;
    margin-bottom: 7.6vw;
}
.product-image{
    width: 95vw;
    margin-top: -15vw;
}
.main{
  padding-left: 0vw;
  padding-right: 0vw;
  overflow: hidden;
}
.product-content-middle-first-header{
    font-size: 4.5vw;
    margin-bottom: 6.6vw;
}
.product-content-right-header{
    font-size: 4vw;
    margin-bottom: 6.6vw;
}
.product-content-middle-second-header{
    font-size: 4vw;
    margin-top: 0vw;
    margin-bottom: 6.6vw;
    margin-top: 11.4vw;
}
.custom-bullet {
    width: 1.27vw;  /* Custom width */
    height: 1.27vw; /* Custom height */
    background-color: #779FEE; /* Custom color */
    border-radius: 50%; /* Makes it circular */
    flex-shrink: 0;
}
.product-content-right-list-elem{
    display: flex;
    align-items: start;
    gap: 3.5vw; /* Space between bullet and text */
    margin-bottom: 5vw; /* Space between list items */
}
.product-content-middle-list-elem{
    display: flex;
    align-items: center;
      gap: 3.5vw; /* Space between bullet and text */
    margin-bottom: 2vw; /* Space between list items */
}
.products-description-content-mob
{
    display: block;
    margin-top: 23vw;
    margin-bottom: 7.6vw;
}
.products-description-content-header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 92vw;
    color: #0F0F10;
}
.products-description-content-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 92vw;
    color: #535458;
}
.products-bottom-section-container-mob{
    display: block;
    position: relative;
    margin-left: 4vw;
    margin-bottom: 34vw;
    margin-top: 34vw;
}
.products-bottom-section-container{
    display: none;
    
}
.products-bottom-section-image{
    width:91.8vw;
    height: 96vw;
   
}
.products-bottom-section-left-container-content-header{
    text-align: center;
      color:#0F0F10;
    font-size: 4.5vw;
    font-family: "Mulish", Arial, sans-serif;
    font-weight: 700;
    width: 70vw;
    z-index: 1;
    position: absolute;
    top:  17vw;
    left: 11.4vw;
}
.products-bottom-section-right-text{
    position: absolute;
    width: 70vw;
    left: 11.4vw;
    top:40vw;
    text-align: center;
    color: #535458;
}
.products-bottom-section-left-container-button{
        margin-top: 3.4vw;
    background-color: #779FEE;
    border: solid;
    border-width: 0.13vw;
    border-color: #779FEE;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
    border-radius: 2.5vw;
    height:8.5vw;
    padding: 8.3vw;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    line-height: 1vw;
    color:#0F0F10;
    position: absolute;
    left: 26vw;
    top:68vw;
}
.products-bottom-section-left-container-button > .angled-arrow
{
    width: 2.5vw;
    height: 2.5vw;
    content:url("../images/Angled_Arrow_Black.svg");
    margin-top: -0.5vw;
}
.products-bottom-section-left-container-button:hover > .angled-arrow
{
    content:url("../images/Angled_Arrow_Black.svg");
}
.products-bottom-section-left-container-button:hover{
    background-color: transparent;
    color:#0F0F10;
}
.products-bottom-section-left-container-button-text{
    text-align: right;
    font-family: "Jost", Arial, sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
}
.custom-bullet-second {
    width: 6.3vw;  /* Custom width */
    height:0.25vw; /* Custom height */
    border-top: 0.07vw solid #779FEE;
    flex-shrink: 0;
    margin-top: 2.2vw;
}

}
